workflows/ddc-base/n8n_2_All_Settings_Revit_IFC_DWG_Conversation_simple.json
{
  "name": "n8n_2_All_Settings_Revit_IFC_DWG_Conversation_simple",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Revit File Converter",
        "formDescription": "Configure your Revit file conversion settings",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Path to Revit Converter (RvtExporter.exe)",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Revit File Path",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Export Mode",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "basic"
                  },
                  {
                    "option": "standard"
                  },
                  {
                    "option": "complete"
                  },
                  {
                    "option": "custom"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Conversion Options",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "bbox"
                  },
                  {
                    "option": "schedule"
                  },
                  {
                    "option": "sheets2pdf"
                  },
                  {
                    "option": "-no-xlsx"
                  },
                  {
                    "option": "-no-collada"
                  }
                ]
              },
              "multiselect": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        800,
        768
      ],
      "id": "795ed30e-8c1c-4163-a715-1cbed2e84c20",
      "name": "Form UI",
      "webhookId": "simple-revit-converter-form",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        432,
        416
      ],
      "id": "d806b3c5-b37f-4c31-b729-eed39f8c29df",
      "name": "Manual Trigger (Optional)"
    },
    {
      "parameters": {
        "content": "\n## ⚠️ Troubleshooting\n\n### Browser Popup Issues\nIf the form doesn't open:\n1. Look for a popup blocker icon in your browser's address bar\n2. Click it and select \"Always allow popups from this site\"\n3. Refresh the page and try again\n\n### Executable Path Issues\nIf conversion fails, ensure you're using the correct path:\n\n✅ **Correct path:**\n```\nC:\\DDC_Converter_Revit\\datadrivenlibs\\RvtExporter.exe\n```\n\n❌ **Incorrect path:**\n```\nC:\\Community\\DDC_Converter_Revit\\RvtExporter.exe",
        "height": 540,
        "width": 524,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        1008
      ],
      "typeVersion": 1,
      "id": "0341b325-d8e1-4e0b-af16-c978aa50286e",
      "name": "Instructions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cbd4ec9-df24-41e8-b47a-720a4cdb733b",
              "name": "path_to_revit_converter",
              "value": "C:\\Users\\Artem Boiko\\Desktop\\n8n\\cad2data-Revit-IFC-DWG-DGN-main\\cad2data-Revit-IFC-DWG-DGN-main\\DDC_Converter_Revit\\RvtExporter.exe",
              "type": "string"
            },
            {
              "id": "aa834467-80fb-476a-bac1-6728478834f0",
              "name": "revit_file",
              "value": "C:\\Users\\Artem Boiko\\Desktop\\n8n\\cad2data-Revit-IFC-DWG-DGN-main\\cad2data-Revit-IFC-DWG-DGN-main\\Sample_Projects\\2022 rstadvancedsampleproject.rvt",
              "type": "string"
            },
            {
              "id": "c3939399-e855-44a7-bb47-83dbb1e85e4f",
              "name": "(optional) Export mode (basic, standard, complete, custom) ",
              "value": "basic",
              "type": "string"
            },
            {
              "id": "748a7f80-f0cb-4147-bb22-6f88818c5a63",
              "name": "(optional) Add the BoundingBox geometry of each element in XLSX ",
              "value": "bbox",
              "type": "string"
            },
            {
              "id": "75f4016f-f04e-48ae-aae6-c231a5cc69aa",
              "name": "(optional) Export all Schedules ",
              "value": "schedule",
              "type": "string"
            },
            {
              "id": "bfbbccdb-e781-47fd-8e84-107f1ef57460",
              "name": "(optional) Export all Sheets to PDF",
              "value": "sheets2pdf",
              "type": "string"
            },
            {
              "id": "acc49689-ab70-4620-87ca-309ed90c0acd",
              "name": "(optional) Disable export to .xlsx format",
              "value": "-no-xlsx",
              "type": "string"
            },
            {
              "id": "bcbb4a29-c290-4ca4-b71b-1df755a14458",
              "name": "(optional) Disable export to .dae format ",
              "value": "-no-collada",
              "type": "string"
            },
            {
              "id": "b513c17c-a174-44cf-b935-36b3855624ba",
              "name": "(optional) output_folder",
              "value": "C:\\Users\\ars\\source\\repos\\DataDrivenConstruction\\test\\sample_files\\test",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        416
      ],
      "id": "5a9b8bcb-a9ed-4e26-bc96-f20bc6840b79",
      "name": "Set the conversion variables"
    },
    {
      "parameters": {
        "content": "### Option 1: Manual Variables\n- Click **\"Manual Trigger\"** to use pre-configured variables\n- Modify the variables in the **\"Set Variables\"** node as needed\n\n## 🔧 Configuration\n- Update the **RvtExporter.exe** path in the form or variables\n- Ensure the path points to the executable inside the **`datadrivenlibs`** folder",
        "height": 420,
        "width": 428,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        176
      ],
      "id": "abd24898-9349-4a9d-b141-952366d93507",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Option 2: Form UI\n- Activate and click **\"Form UI\"** to open the web form\n- Fill in your converter path and Revit file path\n- Select export mode and options\n\n\n",
        "height": 376,
        "width": 428,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        608
      ],
      "id": "5b94ebb6-d9d7-4c2c-9be3-2b686bb7da56",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "⭐ **If you find our tools helpful**, please **consider starring** our repository on [GitHub](https://github.com/datadrivenconstruction/cad2data-Revit-IFC-DWG-DGN). \n\nYour support helps us improve and continue developing open solutions for the community!\n",
        "height": 132,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        16
      ],
      "id": "834ab7ac-e341-4644-8ccf-a74de3a1a49d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "executeOnce": "=",
        "command": "=\"{{$json[\"path_to_revit_converter\"]}}\" \"{{$json[\"revit_file\"]}}\" {{ (() => {\n    if ($json['(optional) output_folder'] != null) {\n        const folder = $json['(optional) output_folder'];\n        const file = $json['revit_file'].split(\"\\\\\").slice(-1)[0];\n        const xlsx = folder + \"\\\\\" + file.replace(/\\.rvt$/i, '_rvt.xlsx');\n        const dae  = folder + \"\\\\\" + file.replace(/\\.rvt$/i, '_rvt.dae');\n        return '\"' + xlsx + '\"' + \" \" + '\"' + dae + '\"';\n    }\n    return \"\";\n})() }} {{ $json['(optional) Export mode (basic, standard, complete, custom) '] }} {{ $json['(optional) Add the BoundingBox geometry of each element in XLSX '] }} {{ $json['(optional) Export all Schedules '] }} {{ $json['(optional) Export all Sheets to PDF'] }} {{ $json['(optional) Disable export to ']['xlsx format'] }} {{ $json['(optional) Disable export to ']['dae format '] }} \n\n\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1152,
        544
      ],
      "id": "fefc7765-70ef-4d4f-b18b-52cba0c927c0",
      "name": "Converting the project into a structured form1"
    },
    {
      "parameters": {
        "content": "",
        "height": 836,
        "width": 1020,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "0ad6e61e-1d2d-400f-859e-461a40d9de6c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 📋 Options Parameter Configuration Guide\n\n## 🎯 Overview\nThe Options parameter allows you to customize the export process with various flags and settings. Multiple options can be combined using spaces.\n\n## 🚀 Available Options\n\n### 📦 Export Modes\n| Mode   | Description |\n|------|-------------|\n| `basic`   |  Minimal export with essential data only |\n| `standard`   | Default export level with standard properties |\n| `complete`   | Full export including all available data |\n| `custom`   | Custom export using category file specification |\n\n### 🛠️ Feature Flags\n| Option | Description |\n|--------|-------------|\n| `bbox` | Add BoundingBox geometry of each element in XLSX |\n| `schedule` | Export all Schedules |\n| `sheets2pdf` | Export all Sheets to PDF format |\n| `[<output file>]` | Specify custom output file path |\n| `[<category file>]` | Text file with category names (required for custom mode) |\n\n### 🚫 Disable Options\n| Option | Description |\n|--------|-------------|\n| `-no-xlsx` | Disable export to .xlsx format |\n| `-no-collada` | Disable export to .dae format |\n\n---\n\n## 📝 Notes\n- All options are case-sensitive\n- Invalid combinations will be ignored\n- Default behavior applies when no options are specified",
        "height": 836,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        160
      ],
      "id": "a1bcc5e5-2ef3-4ce9-ba60-b2eefd600458",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger (Optional)": {
      "main": [
        [
          {
            "node": "Set the conversion variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the conversion variables": {
      "main": [
        [
          {
            "node": "Converting the project into a structured form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form UI": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c033470d-da11-4344-ab21-4a7ff21d251a",
  "meta": {
    "instanceId": "faa70e11b7175129a74fd834d3451fdc1862589b16d68ded03f91ca7b1ecca12"
  },
  "id": "KqIWWnRV00zSYMVv",
  "tags": []
}